{% extends 'templates/base_layout.twig' %}

{% block title %}
    {{ parent() }} Messages
{% endblock %}


{% block custom_assets %}
{% endblock %}


{% block content %}
    <div class="container">
        <p class="title">Discussion</p>
        <div class="global_message">
            {% for m in array %}
                <div>
                    <p> <b> <u> {{ m.name }}</b></u> <i>le {{ m.date }}</i> : 
                        <br/>
                        {{ m.message }} </p>
                        <br/>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}