// The different viriables used in the framework, mostly color related

$default: #ecf0f1;
$dark: #34495e;
$success: #2ecc71;
$info: #3498db;
$danger: #e74c3c;
$warning: #f1c40f;

$light_text: #ecf0f1;
$dark_text: #2c3e50;

$cols: 12;
$breakpoint-sm: 480px;
$breakpoint-md: 1080px;
