/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-family: Arial, Arial, Helvetica, sans-serif;
  margin: 0; }

h1, h2, h3, h4, h5, h6 {
  font-weight: bolder;
  font-size: 20px;
  margin: 5px; }

h1 {
  font-size: 300%; }

h2 {
  font-size: 260%; }

h3 {
  font-size: 220%; }

h4 {
  font-size: 180%; }

h5 {
  font-size: 140%; }

h6 {
  font-size: 100%; }

small, .subtitle {
  font-size: 75%;
  color: #2c3e50; }

p {
  margin-bottom: 10px; }

mark {
  background-color: #34495e;
  color: #ecf0f1;
  padding: 2px; }

del {
  text-decoration: line-through #34495e 2px; }

ins, u {
  border-bottom: 2px solid #34495e; }

strong {
  font-weight: bolder;
  font-size: 110%; }

em {
  font-style: italic;
  color: #2c3e50; }

abbr:hover {
  color: steelblue;
  transition: 600ms; }

.left-align {
  text-align: left; }

.right-align {
  text-align: right; }

.center {
  text-align: center; }

.justify {
  text-align: justify; }

.to-uppercase {
  text-transform: uppercase; }

.to-lowercase {
  text-transform: lowercase; }

ul {
  list-style: circle; }

li {
  margin-left: 20px; }

.square-list {
  list-style: square; }

.simple-list {
  list-style: none; }

blockquote {
  margin: 5px;
  margin-left: 75px;
  margin-right: 75px;
  padding: 10px;
  background-color: #ecf0f1;
  border-left: 2px solid #b1c2c6;
  color: #2c3e50; }

code {
  font-family: monospace;
  margin: 5px;
  margin-left: 75px;
  margin-right: 75px;
  padding: 10px;
  background-color: #10161c;
  color: #29b765;
  display: block;
  white-space: pre; }

pre {
  padding: 5px;
  margin: 5px; }

kbd {
  background-color: #ecf0f1;
  color: #2c3e50;
  border: 1px solid #a3b6bb;
  border-bottom: 3px solid #a3b6bb;
  border-radius: 3px;
  display: inline-block;
  padding: 4px;
  margin: 2px; }

table {
  border-collapse: collapse;
  margin: 5px;
  color: #2c3e50; }

caption {
  font-weight: bolder;
  border: 2px solid #10161c;
  border-radius: 10px 10px 0 0;
  border-bottom: none;
  padding: 5px;
  background: #34495e;
  color: #ecf0f1; }

th {
  border: 2px solid #10161c;
  padding: 5px; }

td {
  border: 2px solid #10161c;
  padding: 5px; }

.alternate-line {
  background-color: #ecf0f1; }

.full-border {
  border: 6px groove #10161c;
  font-weight: bolder; }
  .full-border caption {
    border: 6px groove #10161c; }
  .full-border th {
    border: 6px groove #10161c; }
  .full-border td {
    border: 6px groove #10161c; }

tr {
  background-color: white; }

.line-hover {
  transition: 500ms; }
  .line-hover:hover {
    background-color: #34495e;
    color: #ecf0f1; }

.btn {
  line-height: 3;
  font-size: 120%;
  border-radius: 6px;
  text-align: center;
  cursor: pointer;
  padding: 0px 20px;
  margin-bottom: 6px;
  color: #2c3e50;
  background: #ecf0f1;
  box-shadow: 0 4px grey;
  border: none; }
  .btn:hover {
    background-color: #cfd9db; }
  .btn:active {
    background: #b1c2c6;
    transform: translateY(2px);
    box-shadow: 0 2px grey; }

.btn-sm {
  line-height: 2.5;
  font-size: 100%;
  border-radius: 6px;
  text-align: center;
  cursor: pointer;
  padding: 0px 20px;
  margin-bottom: 6px;
  color: #2c3e50;
  background: #ecf0f1;
  box-shadow: 0 4px grey;
  border: none; }
  .btn-sm:hover {
    background-color: #cfd9db; }
  .btn-sm:active {
    background: #b1c2c6;
    transform: translateY(2px);
    box-shadow: 0 2px grey; }

.btn-lg {
  line-height: 3.5;
  font-size: 140%;
  border-radius: 6px;
  text-align: center;
  cursor: pointer;
  padding: 0px 20px;
  margin-bottom: 6px;
  color: #2c3e50;
  background: #ecf0f1;
  box-shadow: 0 4px grey;
  border: none; }
  .btn-lg:hover {
    background-color: #cfd9db; }
  .btn-lg:active {
    background: #b1c2c6;
    transform: translateY(2px);
    box-shadow: 0 2px grey; }

.btn-flat {
  line-height: 3;
  font-size: 120%;
  border-radius: 0;
  text-align: center;
  cursor: pointer;
  padding: 0px 20px;
  margin-bottom: 6px;
  color: #2c3e50;
  background: #ecf0f1;
  box-shadow: 0 4px none;
  border: none; }
  .btn-flat:hover {
    background-color: #cfd9db; }
  .btn-flat:active {
    background: #b1c2c6;
    transform: translateY(2px);
    box-shadow: 0 2px none; }
  .btn-flat:active {
    transform: none;
    box-shadow: none; }

.btn-round {
  line-height: 3;
  font-size: 120%;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
  padding: 0px 20px;
  margin-bottom: 6px;
  color: #2c3e50;
  background: #ecf0f1;
  box-shadow: 0 4px grey;
  border: none;
  height: auto;
  width: 60px; }
  .btn-round:hover {
    background-color: #cfd9db; }
  .btn-round:active {
    background: #b1c2c6;
    transform: translateY(2px);
    box-shadow: 0 2px grey; }

.btn-xl {
  line-height: 3;
  font-size: 120%;
  border-radius: 6px;
  text-align: center;
  cursor: pointer;
  padding: 0px 20px;
  margin-bottom: 6px;
  color: #2c3e50;
  background: #ecf0f1;
  box-shadow: 0 4px grey;
  border: none;
  width: 100%; }
  .btn-xl:hover {
    background-color: #cfd9db; }
  .btn-xl:active {
    background: #b1c2c6;
    transform: translateY(2px);
    box-shadow: 0 2px grey; }

.btn-red {
  line-height: 3;
  font-size: 120%;
  border-radius: 6px;
  text-align: center;
  cursor: pointer;
  padding: 0px 20px;
  margin-bottom: 6px;
  color: #ecf0f1;
  background: #e74c3c;
  box-shadow: 0 4px grey;
  border: none; }
  .btn-red:hover {
    background-color: #d62c1a; }
  .btn-red:active {
    background: #a82315;
    transform: translateY(2px);
    box-shadow: 0 2px grey; }

.btn-sm-red {
  line-height: 2.5;
  font-size: 100%;
  border-radius: 6px;
  text-align: center;
  cursor: pointer;
  padding: 0px 20px;
  margin-bottom: 6px;
  color: #ecf0f1;
  background: #e74c3c;
  box-shadow: 0 4px grey;
  border: none; }
  .btn-sm-red:hover {
    background-color: #d62c1a; }
  .btn-sm-red:active {
    background: #a82315;
    transform: translateY(2px);
    box-shadow: 0 2px grey; }

.btn-lg-red {
  line-height: 3.5;
  font-size: 140%;
  border-radius: 6px;
  text-align: center;
  cursor: pointer;
  padding: 0px 20px;
  margin-bottom: 6px;
  color: #ecf0f1;
  background: #e74c3c;
  box-shadow: 0 4px grey;
  border: none; }
  .btn-lg-red:hover {
    background-color: #d62c1a; }
  .btn-lg-red:active {
    background: #a82315;
    transform: translateY(2px);
    box-shadow: 0 2px grey; }

.btn-flat-red, .list-of-lists div form input[type="submit"] {
  line-height: 3;
  font-size: 120%;
  border-radius: 0;
  text-align: center;
  cursor: pointer;
  padding: 0px 20px;
  margin-bottom: 6px;
  color: #ecf0f1;
  background: #e74c3c;
  box-shadow: 0 4px none;
  border: none; }
  .btn-flat-red:hover, .list-of-lists div form input[type="submit"]:hover {
    background-color: #d62c1a; }
  .btn-flat-red:active, .list-of-lists div form input[type="submit"]:active {
    background: #a82315;
    transform: translateY(2px);
    box-shadow: 0 2px none; }
  .btn-flat-red:active, .list-of-lists div form input[type="submit"]:active {
    transform: none;
    box-shadow: none; }

.btn-round-red {
  line-height: 3;
  font-size: 120%;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
  padding: 0px 20px;
  margin-bottom: 6px;
  color: #ecf0f1;
  background: #e74c3c;
  box-shadow: 0 4px grey;
  border: none;
  height: auto;
  width: 60px; }
  .btn-round-red:hover {
    background-color: #d62c1a; }
  .btn-round-red:active {
    background: #a82315;
    transform: translateY(2px);
    box-shadow: 0 2px grey; }

.btn-xl-red {
  line-height: 3;
  font-size: 120%;
  border-radius: 6px;
  text-align: center;
  cursor: pointer;
  padding: 0px 20px;
  margin-bottom: 6px;
  color: #ecf0f1;
  background: #e74c3c;
  box-shadow: 0 4px grey;
  border: none;
  width: 100%; }
  .btn-xl-red:hover {
    background-color: #d62c1a; }
  .btn-xl-red:active {
    background: #a82315;
    transform: translateY(2px);
    box-shadow: 0 2px grey; }

.btn-green {
  line-height: 3;
  font-size: 120%;
  border-radius: 6px;
  text-align: center;
  cursor: pointer;
  padding: 0px 20px;
  margin-bottom: 6px;
  color: #ecf0f1;
  background: #2ecc71;
  box-shadow: 0 4px grey;
  border: none; }
  .btn-green:hover {
    background-color: #25a25a; }
  .btn-green:active {
    background: #1b7943;
    transform: translateY(2px);
    box-shadow: 0 2px grey; }

.btn-sm-green {
  line-height: 2.5;
  font-size: 100%;
  border-radius: 6px;
  text-align: center;
  cursor: pointer;
  padding: 0px 20px;
  margin-bottom: 6px;
  color: #ecf0f1;
  background: #2ecc71;
  box-shadow: 0 4px grey;
  border: none; }
  .btn-sm-green:hover {
    background-color: #25a25a; }
  .btn-sm-green:active {
    background: #1b7943;
    transform: translateY(2px);
    box-shadow: 0 2px grey; }

.btn-lg-green {
  line-height: 3.5;
  font-size: 140%;
  border-radius: 6px;
  text-align: center;
  cursor: pointer;
  padding: 0px 20px;
  margin-bottom: 6px;
  color: #ecf0f1;
  background: #2ecc71;
  box-shadow: 0 4px grey;
  border: none; }
  .btn-lg-green:hover {
    background-color: #25a25a; }
  .btn-lg-green:active {
    background: #1b7943;
    transform: translateY(2px);
    box-shadow: 0 2px grey; }

.btn-flat-green, .add-list-button {
  line-height: 3;
  font-size: 120%;
  border-radius: 0;
  text-align: center;
  cursor: pointer;
  padding: 0px 20px;
  margin-bottom: 6px;
  color: #ecf0f1;
  background: #2ecc71;
  box-shadow: 0 4px none;
  border: none; }
  .btn-flat-green:hover, .add-list-button:hover {
    background-color: #25a25a; }
  .btn-flat-green:active, .add-list-button:active {
    background: #1b7943;
    transform: translateY(2px);
    box-shadow: 0 2px none; }
  .btn-flat-green:active, .add-list-button:active {
    transform: none;
    box-shadow: none; }

.btn-round-green {
  line-height: 3;
  font-size: 120%;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
  padding: 0px 20px;
  margin-bottom: 6px;
  color: #ecf0f1;
  background: #2ecc71;
  box-shadow: 0 4px grey;
  border: none;
  height: auto;
  width: 60px; }
  .btn-round-green:hover {
    background-color: #25a25a; }
  .btn-round-green:active {
    background: #1b7943;
    transform: translateY(2px);
    box-shadow: 0 2px grey; }

.btn-xl-green {
  line-height: 3;
  font-size: 120%;
  border-radius: 6px;
  text-align: center;
  cursor: pointer;
  padding: 0px 20px;
  margin-bottom: 6px;
  color: #ecf0f1;
  background: #2ecc71;
  box-shadow: 0 4px grey;
  border: none;
  width: 100%; }
  .btn-xl-green:hover {
    background-color: #25a25a; }
  .btn-xl-green:active {
    background: #1b7943;
    transform: translateY(2px);
    box-shadow: 0 2px grey; }

.btn-blue {
  line-height: 3;
  font-size: 120%;
  border-radius: 6px;
  text-align: center;
  cursor: pointer;
  padding: 0px 20px;
  margin-bottom: 6px;
  color: #ecf0f1;
  background: #3498db;
  box-shadow: 0 4px grey;
  border: none; }
  .btn-blue:hover {
    background-color: #217dbb; }
  .btn-blue:active {
    background: #196090;
    transform: translateY(2px);
    box-shadow: 0 2px grey; }

.btn-sm-blue {
  line-height: 2.5;
  font-size: 100%;
  border-radius: 6px;
  text-align: center;
  cursor: pointer;
  padding: 0px 20px;
  margin-bottom: 6px;
  color: #ecf0f1;
  background: #3498db;
  box-shadow: 0 4px grey;
  border: none; }
  .btn-sm-blue:hover {
    background-color: #217dbb; }
  .btn-sm-blue:active {
    background: #196090;
    transform: translateY(2px);
    box-shadow: 0 2px grey; }

.btn-lg-blue {
  line-height: 3.5;
  font-size: 140%;
  border-radius: 6px;
  text-align: center;
  cursor: pointer;
  padding: 0px 20px;
  margin-bottom: 6px;
  color: #ecf0f1;
  background: #3498db;
  box-shadow: 0 4px grey;
  border: none; }
  .btn-lg-blue:hover {
    background-color: #217dbb; }
  .btn-lg-blue:active {
    background: #196090;
    transform: translateY(2px);
    box-shadow: 0 2px grey; }

.btn-flat-blue {
  line-height: 3;
  font-size: 120%;
  border-radius: 0;
  text-align: center;
  cursor: pointer;
  padding: 0px 20px;
  margin-bottom: 6px;
  color: #ecf0f1;
  background: #3498db;
  box-shadow: 0 4px none;
  border: none; }
  .btn-flat-blue:hover {
    background-color: #217dbb; }
  .btn-flat-blue:active {
    background: #196090;
    transform: translateY(2px);
    box-shadow: 0 2px none; }
  .btn-flat-blue:active {
    transform: none;
    box-shadow: none; }

.btn-round-blue {
  line-height: 3;
  font-size: 120%;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
  padding: 0px 20px;
  margin-bottom: 6px;
  color: #ecf0f1;
  background: #3498db;
  box-shadow: 0 4px grey;
  border: none;
  height: auto;
  width: 60px; }
  .btn-round-blue:hover {
    background-color: #217dbb; }
  .btn-round-blue:active {
    background: #196090;
    transform: translateY(2px);
    box-shadow: 0 2px grey; }

.btn-xl-blue {
  line-height: 3;
  font-size: 120%;
  border-radius: 6px;
  text-align: center;
  cursor: pointer;
  padding: 0px 20px;
  margin-bottom: 6px;
  color: #ecf0f1;
  background: #3498db;
  box-shadow: 0 4px grey;
  border: none;
  width: 100%; }
  .btn-xl-blue:hover {
    background-color: #217dbb; }
  .btn-xl-blue:active {
    background: #196090;
    transform: translateY(2px);
    box-shadow: 0 2px grey; }

.btn-dark {
  line-height: 3;
  font-size: 120%;
  border-radius: 6px;
  text-align: center;
  cursor: pointer;
  padding: 0px 20px;
  margin-bottom: 6px;
  color: #ecf0f1;
  background: #34495e;
  box-shadow: 0 4px grey;
  border: none; }
  .btn-dark:hover {
    background-color: #22303d; }
  .btn-dark:active {
    background: #10161c;
    transform: translateY(2px);
    box-shadow: 0 2px grey; }

.btn-sm-dark {
  line-height: 2.5;
  font-size: 100%;
  border-radius: 6px;
  text-align: center;
  cursor: pointer;
  padding: 0px 20px;
  margin-bottom: 6px;
  color: #ecf0f1;
  background: #34495e;
  box-shadow: 0 4px grey;
  border: none; }
  .btn-sm-dark:hover {
    background-color: #22303d; }
  .btn-sm-dark:active {
    background: #10161c;
    transform: translateY(2px);
    box-shadow: 0 2px grey; }

.btn-lg-dark {
  line-height: 3.5;
  font-size: 140%;
  border-radius: 6px;
  text-align: center;
  cursor: pointer;
  padding: 0px 20px;
  margin-bottom: 6px;
  color: #ecf0f1;
  background: #34495e;
  box-shadow: 0 4px grey;
  border: none; }
  .btn-lg-dark:hover {
    background-color: #22303d; }
  .btn-lg-dark:active {
    background: #10161c;
    transform: translateY(2px);
    box-shadow: 0 2px grey; }

.btn-flat-dark {
  line-height: 3;
  font-size: 120%;
  border-radius: 0;
  text-align: center;
  cursor: pointer;
  padding: 0px 20px;
  margin-bottom: 6px;
  color: #ecf0f1;
  background: #34495e;
  box-shadow: 0 4px none;
  border: none; }
  .btn-flat-dark:hover {
    background-color: #22303d; }
  .btn-flat-dark:active {
    background: #10161c;
    transform: translateY(2px);
    box-shadow: 0 2px none; }
  .btn-flat-dark:active {
    transform: none;
    box-shadow: none; }

.btn-round-dark {
  line-height: 3;
  font-size: 120%;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
  padding: 0px 20px;
  margin-bottom: 6px;
  color: #ecf0f1;
  background: #34495e;
  box-shadow: 0 4px grey;
  border: none;
  height: auto;
  width: 60px; }
  .btn-round-dark:hover {
    background-color: #22303d; }
  .btn-round-dark:active {
    background: #10161c;
    transform: translateY(2px);
    box-shadow: 0 2px grey; }

.btn-xl-dark {
  line-height: 3;
  font-size: 120%;
  border-radius: 6px;
  text-align: center;
  cursor: pointer;
  padding: 0px 20px;
  margin-bottom: 6px;
  color: #ecf0f1;
  background: #34495e;
  box-shadow: 0 4px grey;
  border: none;
  width: 100%; }
  .btn-xl-dark:hover {
    background-color: #22303d; }
  .btn-xl-dark:active {
    background: #10161c;
    transform: translateY(2px);
    box-shadow: 0 2px grey; }

.alert, .alert-success, .alert-info, .alert-warning, .alert-danger, .error-alert div {
  color: #ecf0f1;
  line-height: 4;
  font-weight: bolder;
  text-align: center;
  font-size: 120%;
  margin: 5px;
  border-radius: 5px; }

.alert-success {
  background: #2ecc71; }

.alert-info {
  background: #3498db; }

.alert-warning {
  background: #f1c40f; }

.alert-danger, .error-alert div {
  background: #e74c3c; }

.container {
  width: 100%; }

.row, .error-alert, .form-create-list, .form-create-list .form-content, .form-create-list .form-content .input, .form-add-list, .list-of-lists, .list-of-lists div, .global_message, .global_message div, .global_message div .header, .global_message div .header .headerNavigation ul {
  display: flex;
  flex-wrap: wrap;
  width: 100%; }

.col-1 {
  flex-basis: 8.3333333333%; }

.offset-1, .form-create-list .form-content .input, .list-of-lists div, .list-of-lists div a, .global_message div {
  margin-left: 8.3333333333%; }

.col-2 {
  flex-basis: 16.6666666667%; }

.offset-2, .error-alert div {
  margin-left: 16.6666666667%; }

.col-3 {
  flex-basis: 25%; }

.offset-3, .form-create-list .form-content, .form-add-list input {
  margin-left: 25%; }

.col-4, .global_message div .header .headerLogo {
  flex-basis: 33.3333333333%; }

.offset-4 {
  margin-left: 33.3333333333%; }

.col-5 {
  flex-basis: 41.6666666667%; }

.offset-5 {
  margin-left: 41.6666666667%; }

.col-6, .form-create-list .form-content, .form-add-list input {
  flex-basis: 50%; }

.offset-6 {
  margin-left: 50%; }

.col-7 {
  flex-basis: 58.3333333333%; }

.offset-7 {
  margin-left: 58.3333333333%; }

.col-8, .error-alert div, .global_message div .header .headerNavigation {
  flex-basis: 66.6666666667%; }

.offset-8 {
  margin-left: 66.6666666667%; }

.col-9 {
  flex-basis: 75%; }

.offset-9 {
  margin-left: 75%; }

.col-10, .form-create-list .form-content .input, .list-of-lists div, .list-of-lists div a, .global_message div {
  flex-basis: 83.3333333333%; }

.offset-10 {
  margin-left: 83.3333333333%; }

.col-11 {
  flex-basis: 91.6666666667%; }

.offset-11 {
  margin-left: 91.6666666667%; }

.col-12 {
  flex-basis: 100%; }

.offset-12 {
  margin-left: 100%; }

.offset-0 {
  margin-left: 0; }

@media screen and (max-width: 1080px) {
  .col-md-1 {
    flex-basis: 8.3333333333%; }

  .offset-md-1, .error-alert div, .global_message div .list-of-lists div a {
    margin-left: 8.3333333333%; }

  .col-md-2 {
    flex-basis: 16.6666666667%; }

  .offset-md-2, .global_message div .form-create-list .form-content, .global_message div .form-add-list input {
    margin-left: 16.6666666667%; }

  .col-md-3 {
    flex-basis: 25%; }

  .offset-md-3 {
    margin-left: 25%; }

  .col-md-4 {
    flex-basis: 33.3333333333%; }

  .offset-md-4 {
    margin-left: 33.3333333333%; }

  .col-md-5 {
    flex-basis: 41.6666666667%; }

  .offset-md-5 {
    margin-left: 41.6666666667%; }

  .col-md-6 {
    flex-basis: 50%; }

  .offset-md-6 {
    margin-left: 50%; }

  .col-md-7 {
    flex-basis: 58.3333333333%; }

  .offset-md-7 {
    margin-left: 58.3333333333%; }

  .col-md-8, .global_message div .form-create-list .form-content, .global_message div .form-add-list input {
    flex-basis: 66.6666666667%; }

  .offset-md-8 {
    margin-left: 66.6666666667%; }

  .col-md-9, .global_message div .list-of-lists div a {
    flex-basis: 75%; }

  .offset-md-9 {
    margin-left: 75%; }

  .col-md-10, .error-alert div {
    flex-basis: 83.3333333333%; }

  .offset-md-10 {
    margin-left: 83.3333333333%; }

  .col-md-11 {
    flex-basis: 91.6666666667%; }

  .offset-md-11 {
    margin-left: 91.6666666667%; }

  .col-md-12, .global_message div .header .headerNavigation, .global_message div .list-of-lists div {
    flex-basis: 100%; }

  .offset-md-12 {
    margin-left: 100%; }

  .offset-md-0, .global_message div .list-of-lists div {
    margin-left: 0; } }
@media screen and (max-width: 480px) {
  .col-sm-1 {
    flex-basis: 8.3333333333%; }

  .offset-sm-1, .global_message div .list-of-lists div a, .global_message div .form-add-list input {
    margin-left: 8.3333333333%; }

  .col-sm-2 {
    flex-basis: 16.6666666667%; }

  .offset-sm-2 {
    margin-left: 16.6666666667%; }

  .col-sm-3 {
    flex-basis: 25%; }

  .offset-sm-3 {
    margin-left: 25%; }

  .col-sm-4 {
    flex-basis: 33.3333333333%; }

  .offset-sm-4 {
    margin-left: 33.3333333333%; }

  .col-sm-5 {
    flex-basis: 41.6666666667%; }

  .offset-sm-5 {
    margin-left: 41.6666666667%; }

  .col-sm-6 {
    flex-basis: 50%; }

  .offset-sm-6 {
    margin-left: 50%; }

  .col-sm-7 {
    flex-basis: 58.3333333333%; }

  .offset-sm-7 {
    margin-left: 58.3333333333%; }

  .col-sm-8, .global_message div .list-of-lists div a {
    flex-basis: 66.6666666667%; }

  .offset-sm-8 {
    margin-left: 66.6666666667%; }

  .col-sm-9 {
    flex-basis: 75%; }

  .offset-sm-9 {
    margin-left: 75%; }

  .col-sm-10, .global_message div .form-add-list input {
    flex-basis: 83.3333333333%; }

  .offset-sm-10 {
    margin-left: 83.3333333333%; }

  .col-sm-11 {
    flex-basis: 91.6666666667%; }

  .offset-sm-11 {
    margin-left: 91.6666666667%; }

  .col-sm-12, .error-alert div, .global_message div .header .headerNavigation, .global_message div .form-create-list .form-content, .global_message div .list-of-lists div {
    flex-basis: 100%; }

  .offset-sm-12 {
    margin-left: 100%; }

  .offset-sm-0, .error-alert div, .global_message div .form-create-list .form-content, .global_message div .list-of-lists div {
    margin-left: 0; } }
.error-alert div {
  line-height: 1;
  text-align: left;
  font-size: 100%; }
  .error-alert div p {
    padding-left: 10px;
    padding-top: 10px; }

.form-create-list {
  color: #2c3e50;
  padding-top: 30px;
  padding-bottom: 30px; }
  .form-create-list .form-content {
    background: #ecf0f1;
    border-radius: 5px; }
    .form-create-list .form-content .input {
      padding: 10px 0px;
      font-weight: bolder;
      display: flex;
      flex-direction: column; }
    .form-create-list .form-content textarea {
      resize: none;
      height: 100px; }

.title {
  text-align: center;
  text-decoration: underline;
  font-weight: bolder;
  font-size: 200%;
  color: #2c3e50; }

.list-of-lists div {
  overflow: hidden;
  text-overflow: ellipsis; }
  .list-of-lists div a {
    background: #ecf0f1;
    padding: 5px;
    height: 60px;
    text-decoration: none;
    font-size: 140%;
    overflow: hidden;
    color: #2c3e50;
    border: 1px solid #587ca0;
    display: flex;
    flex-direction: column; }
    .list-of-lists div a span {
      text-align: right;
      font-size: 65%;
      color: #507192; }
    .list-of-lists div a:hover {
      background: #cfd9db; }
  .list-of-lists div form input[type="submit"] {
    font-weight: bolder;
    height: 72px; }

.global_message div p {
  width: 25%;
  word-wrap: break-word; }
.global_message div .header {
  color: #ecf0f1;
  background: #34495e;
  height: 60px;
  align-items: center;
  margin-bottom: 20px; }
  .global_message div .header .headerLogo {
    font-size: 220%;
    font-weight: bolder;
    text-align: center; }
  .global_message div .header .headerNavigation {
    height: 100%; }
    .global_message div .header .headerNavigation ul {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      height: 100%;
      list-style: none; }
      .global_message div .header .headerNavigation ul li {
        height: 100%;
        margin: 0; }
        .global_message div .header .headerNavigation ul li a {
          display: flex;
          align-items: center;
          height: 100%;
          color: #ecf0f1;
          font-size: 140%;
          font-weight: bolder;
          text-decoration: none;
          padding: 0 20px; }
      .global_message div .header .headerNavigation ul a:hover {
        background: #46637f; }
@media screen and (max-width: 1080px) {
  .global_message div .header .headerLogo {
    display: none; }
  .global_message div .header .headerNavigation ul {
    justify-content: space-around; }
  .global_message div .list-of-lists div a {
    font-size: 100%; }
    .global_message div .list-of-lists div a span {
      font-size: 80%; } }
@media screen and (max-width: 480px) {
  .global_message div .header {
    height: 100%; }
    .global_message div .header .headerLogo {
      display: none; }
    .global_message div .header .headerNavigation {
      width: 100%; }
      .global_message div .header .headerNavigation ul {
        flex-direction: column;
        width: 100%; }
        .global_message div .header .headerNavigation ul li {
          width: 100%;
          height: 60px; }
  .global_message div .list-of-lists div a {
    font-size: 100%; }
    .global_message div .list-of-lists div a span {
      font-size: 80%; }
  .global_message div .error-alert div {
    margin-left: 10px; } }

/*# sourceMappingURL=main.css.map */
