/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-family: Arial, Arial, Helvetica, sans-serif;
  margin: 0; }

h1, h2, h3, h4, h5, h6 {
  font-weight: bolder;
  font-size: 20px;
  margin: 5px; }

h1 {
  font-size: 300%; }

h2 {
  font-size: 260%; }

h3 {
  font-size: 220%; }

h4 {
  font-size: 180%; }

h5 {
  font-size: 140%; }

h6 {
  font-size: 100%; }

small, .subtitle {
  font-size: 75%;
  color: #2c3e50; }

p {
  margin-bottom: 10px; }

mark {
  background-color: #34495e;
  color: #ecf0f1;
  padding: 2px; }

del {
  text-decoration: line-through #34495e 2px; }

ins, u {
  border-bottom: 2px solid #34495e; }

strong {
  font-weight: bolder;
  font-size: 110%; }

em {
  font-style: italic;
  color: #2c3e50; }

abbr:hover {
  color: steelblue;
  transition: 600ms; }

.left-align {
  text-align: left; }

.right-align {
  text-align: right; }

.center {
  text-align: center; }

.justify {
  text-align: justify; }

.to-uppercase {
  text-transform: uppercase; }

.to-lowercase {
  text-transform: lowercase; }

ul {
  list-style: circle; }

li {
  margin-left: 20px; }

.square-list {
  list-style: square; }

.simple-list {
  list-style: none; }

blockquote {
  margin: 5px;
  margin-left: 75px;
  margin-right: 75px;
  padding: 10px;
  background-color: #ecf0f1;
  border-left: 2px solid #b1c2c6;
  color: #2c3e50; }

code {
  font-family: monospace;
  margin: 5px;
  margin-left: 75px;
  margin-right: 75px;
  padding: 10px;
  background-color: #10161c;
  color: #29b765;
  display: block;
  white-space: pre; }

pre {
  padding: 5px;
  margin: 5px; }

kbd {
  background-color: #ecf0f1;
  color: #2c3e50;
  border: 1px solid #a3b6bb;
  border-bottom: 3px solid #a3b6bb;
  border-radius: 3px;
  display: inline-block;
  padding: 4px;
  margin: 2px; }

table {
  border-collapse: collapse;
  margin: 5px;
  color: #2c3e50; }

caption {
  font-weight: bolder;
  border: 2px solid #10161c;
  border-radius: 10px 10px 0 0;
  border-bottom: none;
  padding: 5px;
  background: #34495e;
  color: #ecf0f1; }

th {
  border: 2px solid #10161c;
  padding: 5px; }

td {
  border: 2px solid #10161c;
  padding: 5px; }

.alternate-line {
  background-color: #ecf0f1; }

.full-border {
  border: 6px groove #10161c;
  font-weight: bolder; }
  .full-border caption {
    border: 6px groove #10161c; }
  .full-border th {
    border: 6px groove #10161c; }
  .full-border td {
    border: 6px groove #10161c; }

tr {
  background-color: white; }

.line-hover {
  transition: 500ms; }
  .line-hover:hover {
    background-color: #34495e;
    color: #ecf0f1; }

.btn {
  line-height: 3;
  font-size: 120%;
  border-radius: 6px;
  text-align: center;
  cursor: pointer;
  padding: 0px 20px;
  margin-bottom: 6px;
  color: #2c3e50;
  background: #ecf0f1;
  box-shadow: 0 4px grey;
  border: none; }
  .btn:hover {
    background-color: #cfd9db; }
  .btn:active {
    background: #b1c2c6;
    transform: translateY(2px);
    box-shadow: 0 2px grey; }

.btn-sm {
  line-height: 2.5;
  font-size: 100%;
  border-radius: 6px;
  text-align: center;
  cursor: pointer;
  padding: 0px 20px;
  margin-bottom: 6px;
  color: #2c3e50;
  background: #ecf0f1;
  box-shadow: 0 4px grey;
  border: none; }
  .btn-sm:hover {
    background-color: #cfd9db; }
  .btn-sm:active {
    background: #b1c2c6;
    transform: translateY(2px);
    box-shadow: 0 2px grey; }

.btn-lg {
  line-height: 3.5;
  font-size: 140%;
  border-radius: 6px;
  text-align: center;
  cursor: pointer;
  padding: 0px 20px;
  margin-bottom: 6px;
  color: #2c3e50;
  background: #ecf0f1;
  box-shadow: 0 4px grey;
  border: none; }
  .btn-lg:hover {
    background-color: #cfd9db; }
  .btn-lg:active {
    background: #b1c2c6;
    transform: translateY(2px);
    box-shadow: 0 2px grey; }

.btn-flat {
  line-height: 3;
  font-size: 120%;
  border-radius: 0;
  text-align: center;
  cursor: pointer;
  padding: 0px 20px;
  margin-bottom: 6px;
  color: #2c3e50;
  background: #ecf0f1;
  box-shadow: 0 4px none;
  border: none; }
  .btn-flat:hover {
    background-color: #cfd9db; }
  .btn-flat:active {
    background: #b1c2c6;
    transform: translateY(2px);
    box-shadow: 0 2px none; }
  .btn-flat:active {
    transform: none;
    box-shadow: none; }

.btn-round {
  line-height: 3;
  font-size: 120%;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
  padding: 0px 20px;
  margin-bottom: 6px;
  color: #2c3e50;
  background: #ecf0f1;
  box-shadow: 0 4px grey;
  border: none;
  height: auto;
  width: 60px; }
  .btn-round:hover {
    background-color: #cfd9db; }
  .btn-round:active {
    background: #b1c2c6;
    transform: translateY(2px);
    box-shadow: 0 2px grey; }

.btn-xl {
  line-height: 3;
  font-size: 120%;
  border-radius: 6px;
  text-align: center;
  cursor: pointer;
  padding: 0px 20px;
  margin-bottom: 6px;
  color: #2c3e50;
  background: #ecf0f1;
  box-shadow: 0 4px grey;
  border: none;
  width: 100%; }
  .btn-xl:hover {
    background-color: #cfd9db; }
  .btn-xl:active {
    background: #b1c2c6;
    transform: translateY(2px);
    box-shadow: 0 2px grey; }

.btn-red {
  line-height: 3;
  font-size: 120%;
  border-radius: 6px;
  text-align: center;
  cursor: pointer;
  padding: 0px 20px;
  margin-bottom: 6px;
  color: #ecf0f1;
  background: #e74c3c;
  box-shadow: 0 4px grey;
  border: none; }
  .btn-red:hover {
    background-color: #d62c1a; }
  .btn-red:active {
    background: #a82315;
    transform: translateY(2px);
    box-shadow: 0 2px grey; }

.btn-sm-red {
  line-height: 2.5;
  font-size: 100%;
  border-radius: 6px;
  text-align: center;
  cursor: pointer;
  padding: 0px 20px;
  margin-bottom: 6px;
  color: #ecf0f1;
  background: #e74c3c;
  box-shadow: 0 4px grey;
  border: none; }
  .btn-sm-red:hover {
    background-color: #d62c1a; }
  .btn-sm-red:active {
    background: #a82315;
    transform: translateY(2px);
    box-shadow: 0 2px grey; }

.btn-lg-red {
  line-height: 3.5;
  font-size: 140%;
  border-radius: 6px;
  text-align: center;
  cursor: pointer;
  padding: 0px 20px;
  margin-bottom: 6px;
  color: #ecf0f1;
  background: #e74c3c;
  box-shadow: 0 4px grey;
  border: none; }
  .btn-lg-red:hover {
    background-color: #d62c1a; }
  .btn-lg-red:active {
    background: #a82315;
    transform: translateY(2px);
    box-shadow: 0 2px grey; }

.btn-flat-red, .backto-list-button input[type=submit], .list-of-lists div form input[type="submit"], .itemsListContainer .itemsList .item .itemInformation .itemDelete .itemDeleteButton {
  line-height: 3;
  font-size: 120%;
  border-radius: 0;
  text-align: center;
  cursor: pointer;
  padding: 0px 20px;
  margin-bottom: 6px;
  color: #ecf0f1;
  background: #e74c3c;
  box-shadow: 0 4px none;
  border: none; }
  .btn-flat-red:hover, .backto-list-button input[type=submit]:hover, .list-of-lists div form input[type="submit"]:hover, .itemsListContainer .itemsList .item .itemInformation .itemDelete .itemDeleteButton:hover {
    background-color: #d62c1a; }
  .btn-flat-red:active, .backto-list-button input[type=submit]:active, .list-of-lists div form input[type="submit"]:active, .itemsListContainer .itemsList .item .itemInformation .itemDelete .itemDeleteButton:active {
    background: #a82315;
    transform: translateY(2px);
    box-shadow: 0 2px none; }
  .btn-flat-red:active, .backto-list-button input[type=submit]:active, .list-of-lists div form input[type="submit"]:active, .itemsListContainer .itemsList .item .itemInformation .itemDelete .itemDeleteButton:active {
    transform: none;
    box-shadow: none; }

.btn-round-red {
  line-height: 3;
  font-size: 120%;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
  padding: 0px 20px;
  margin-bottom: 6px;
  color: #ecf0f1;
  background: #e74c3c;
  box-shadow: 0 4px grey;
  border: none;
  height: auto;
  width: 60px; }
  .btn-round-red:hover {
    background-color: #d62c1a; }
  .btn-round-red:active {
    background: #a82315;
    transform: translateY(2px);
    box-shadow: 0 2px grey; }

.btn-xl-red {
  line-height: 3;
  font-size: 120%;
  border-radius: 6px;
  text-align: center;
  cursor: pointer;
  padding: 0px 20px;
  margin-bottom: 6px;
  color: #ecf0f1;
  background: #e74c3c;
  box-shadow: 0 4px grey;
  border: none;
  width: 100%; }
  .btn-xl-red:hover {
    background-color: #d62c1a; }
  .btn-xl-red:active {
    background: #a82315;
    transform: translateY(2px);
    box-shadow: 0 2px grey; }

.btn-green {
  line-height: 3;
  font-size: 120%;
  border-radius: 6px;
  text-align: center;
  cursor: pointer;
  padding: 0px 20px;
  margin-bottom: 6px;
  color: #ecf0f1;
  background: #2ecc71;
  box-shadow: 0 4px grey;
  border: none; }
  .btn-green:hover {
    background-color: #25a25a; }
  .btn-green:active {
    background: #1b7943;
    transform: translateY(2px);
    box-shadow: 0 2px grey; }

.btn-sm-green {
  line-height: 2.5;
  font-size: 100%;
  border-radius: 6px;
  text-align: center;
  cursor: pointer;
  padding: 0px 20px;
  margin-bottom: 6px;
  color: #ecf0f1;
  background: #2ecc71;
  box-shadow: 0 4px grey;
  border: none; }
  .btn-sm-green:hover {
    background-color: #25a25a; }
  .btn-sm-green:active {
    background: #1b7943;
    transform: translateY(2px);
    box-shadow: 0 2px grey; }

.btn-lg-green {
  line-height: 3.5;
  font-size: 140%;
  border-radius: 6px;
  text-align: center;
  cursor: pointer;
  padding: 0px 20px;
  margin-bottom: 6px;
  color: #ecf0f1;
  background: #2ecc71;
  box-shadow: 0 4px grey;
  border: none; }
  .btn-lg-green:hover {
    background-color: #25a25a; }
  .btn-lg-green:active {
    background: #1b7943;
    transform: translateY(2px);
    box-shadow: 0 2px grey; }

.btn-flat-green, .add-list-button, .addItemContainer .addItemForm .addItemFormContent .addItemFormControl input[type=submit] {
  line-height: 3;
  font-size: 120%;
  border-radius: 0;
  text-align: center;
  cursor: pointer;
  padding: 0px 20px;
  margin-bottom: 6px;
  color: #ecf0f1;
  background: #2ecc71;
  box-shadow: 0 4px none;
  border: none; }
  .btn-flat-green:hover, .add-list-button:hover, .addItemContainer .addItemForm .addItemFormContent .addItemFormControl input[type=submit]:hover {
    background-color: #25a25a; }
  .btn-flat-green:active, .add-list-button:active, .addItemContainer .addItemForm .addItemFormContent .addItemFormControl input[type=submit]:active {
    background: #1b7943;
    transform: translateY(2px);
    box-shadow: 0 2px none; }
  .btn-flat-green:active, .add-list-button:active, .addItemContainer .addItemForm .addItemFormContent .addItemFormControl input[type=submit]:active {
    transform: none;
    box-shadow: none; }

.btn-round-green {
  line-height: 3;
  font-size: 120%;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
  padding: 0px 20px;
  margin-bottom: 6px;
  color: #ecf0f1;
  background: #2ecc71;
  box-shadow: 0 4px grey;
  border: none;
  height: auto;
  width: 60px; }
  .btn-round-green:hover {
    background-color: #25a25a; }
  .btn-round-green:active {
    background: #1b7943;
    transform: translateY(2px);
    box-shadow: 0 2px grey; }

.btn-xl-green {
  line-height: 3;
  font-size: 120%;
  border-radius: 6px;
  text-align: center;
  cursor: pointer;
  padding: 0px 20px;
  margin-bottom: 6px;
  color: #ecf0f1;
  background: #2ecc71;
  box-shadow: 0 4px grey;
  border: none;
  width: 100%; }
  .btn-xl-green:hover {
    background-color: #25a25a; }
  .btn-xl-green:active {
    background: #1b7943;
    transform: translateY(2px);
    box-shadow: 0 2px grey; }

.btn-blue {
  line-height: 3;
  font-size: 120%;
  border-radius: 6px;
  text-align: center;
  cursor: pointer;
  padding: 0px 20px;
  margin-bottom: 6px;
  color: #ecf0f1;
  background: #3498db;
  box-shadow: 0 4px grey;
  border: none; }
  .btn-blue:hover {
    background-color: #217dbb; }
  .btn-blue:active {
    background: #196090;
    transform: translateY(2px);
    box-shadow: 0 2px grey; }

.btn-sm-blue {
  line-height: 2.5;
  font-size: 100%;
  border-radius: 6px;
  text-align: center;
  cursor: pointer;
  padding: 0px 20px;
  margin-bottom: 6px;
  color: #ecf0f1;
  background: #3498db;
  box-shadow: 0 4px grey;
  border: none; }
  .btn-sm-blue:hover {
    background-color: #217dbb; }
  .btn-sm-blue:active {
    background: #196090;
    transform: translateY(2px);
    box-shadow: 0 2px grey; }

.btn-lg-blue {
  line-height: 3.5;
  font-size: 140%;
  border-radius: 6px;
  text-align: center;
  cursor: pointer;
  padding: 0px 20px;
  margin-bottom: 6px;
  color: #ecf0f1;
  background: #3498db;
  box-shadow: 0 4px grey;
  border: none; }
  .btn-lg-blue:hover {
    background-color: #217dbb; }
  .btn-lg-blue:active {
    background: #196090;
    transform: translateY(2px);
    box-shadow: 0 2px grey; }

.btn-flat-blue, .addItemContainer .addItemForm .addItemFormContent .addItemFormControl .uploadImageFakeControl .uploadButton label {
  line-height: 3;
  font-size: 120%;
  border-radius: 0;
  text-align: center;
  cursor: pointer;
  padding: 0px 20px;
  margin-bottom: 6px;
  color: #ecf0f1;
  background: #3498db;
  box-shadow: 0 4px none;
  border: none; }
  .btn-flat-blue:hover, .addItemContainer .addItemForm .addItemFormContent .addItemFormControl .uploadImageFakeControl .uploadButton label:hover {
    background-color: #217dbb; }
  .btn-flat-blue:active, .addItemContainer .addItemForm .addItemFormContent .addItemFormControl .uploadImageFakeControl .uploadButton label:active {
    background: #196090;
    transform: translateY(2px);
    box-shadow: 0 2px none; }
  .btn-flat-blue:active, .addItemContainer .addItemForm .addItemFormContent .addItemFormControl .uploadImageFakeControl .uploadButton label:active {
    transform: none;
    box-shadow: none; }

.btn-round-blue {
  line-height: 3;
  font-size: 120%;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
  padding: 0px 20px;
  margin-bottom: 6px;
  color: #ecf0f1;
  background: #3498db;
  box-shadow: 0 4px grey;
  border: none;
  height: auto;
  width: 60px; }
  .btn-round-blue:hover {
    background-color: #217dbb; }
  .btn-round-blue:active {
    background: #196090;
    transform: translateY(2px);
    box-shadow: 0 2px grey; }

.btn-xl-blue {
  line-height: 3;
  font-size: 120%;
  border-radius: 6px;
  text-align: center;
  cursor: pointer;
  padding: 0px 20px;
  margin-bottom: 6px;
  color: #ecf0f1;
  background: #3498db;
  box-shadow: 0 4px grey;
  border: none;
  width: 100%; }
  .btn-xl-blue:hover {
    background-color: #217dbb; }
  .btn-xl-blue:active {
    background: #196090;
    transform: translateY(2px);
    box-shadow: 0 2px grey; }

.btn-dark {
  line-height: 3;
  font-size: 120%;
  border-radius: 6px;
  text-align: center;
  cursor: pointer;
  padding: 0px 20px;
  margin-bottom: 6px;
  color: #ecf0f1;
  background: #34495e;
  box-shadow: 0 4px grey;
  border: none; }
  .btn-dark:hover {
    background-color: #22303d; }
  .btn-dark:active {
    background: #10161c;
    transform: translateY(2px);
    box-shadow: 0 2px grey; }

.btn-sm-dark {
  line-height: 2.5;
  font-size: 100%;
  border-radius: 6px;
  text-align: center;
  cursor: pointer;
  padding: 0px 20px;
  margin-bottom: 6px;
  color: #ecf0f1;
  background: #34495e;
  box-shadow: 0 4px grey;
  border: none; }
  .btn-sm-dark:hover {
    background-color: #22303d; }
  .btn-sm-dark:active {
    background: #10161c;
    transform: translateY(2px);
    box-shadow: 0 2px grey; }

.btn-lg-dark {
  line-height: 3.5;
  font-size: 140%;
  border-radius: 6px;
  text-align: center;
  cursor: pointer;
  padding: 0px 20px;
  margin-bottom: 6px;
  color: #ecf0f1;
  background: #34495e;
  box-shadow: 0 4px grey;
  border: none; }
  .btn-lg-dark:hover {
    background-color: #22303d; }
  .btn-lg-dark:active {
    background: #10161c;
    transform: translateY(2px);
    box-shadow: 0 2px grey; }

.btn-flat-dark {
  line-height: 3;
  font-size: 120%;
  border-radius: 0;
  text-align: center;
  cursor: pointer;
  padding: 0px 20px;
  margin-bottom: 6px;
  color: #ecf0f1;
  background: #34495e;
  box-shadow: 0 4px none;
  border: none; }
  .btn-flat-dark:hover {
    background-color: #22303d; }
  .btn-flat-dark:active {
    background: #10161c;
    transform: translateY(2px);
    box-shadow: 0 2px none; }
  .btn-flat-dark:active {
    transform: none;
    box-shadow: none; }

.btn-round-dark {
  line-height: 3;
  font-size: 120%;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
  padding: 0px 20px;
  margin-bottom: 6px;
  color: #ecf0f1;
  background: #34495e;
  box-shadow: 0 4px grey;
  border: none;
  height: auto;
  width: 60px; }
  .btn-round-dark:hover {
    background-color: #22303d; }
  .btn-round-dark:active {
    background: #10161c;
    transform: translateY(2px);
    box-shadow: 0 2px grey; }

.btn-xl-dark {
  line-height: 3;
  font-size: 120%;
  border-radius: 6px;
  text-align: center;
  cursor: pointer;
  padding: 0px 20px;
  margin-bottom: 6px;
  color: #ecf0f1;
  background: #34495e;
  box-shadow: 0 4px grey;
  border: none;
  width: 100%; }
  .btn-xl-dark:hover {
    background-color: #22303d; }
  .btn-xl-dark:active {
    background: #10161c;
    transform: translateY(2px);
    box-shadow: 0 2px grey; }

a {
  color: #34495e;
  text-decoration: none; }

.link {
  color: #34495e;
  text-decoration: none;
  color: #2c3e50;
  background: #ecf0f1;
  border-radius: 15px;
  line-height: 2.5;
  padding: 10px; }

.link-dark {
  color: #34495e;
  text-decoration: none;
  color: #ecf0f1;
  background: #34495e;
  border-radius: 15px;
  line-height: 2.5;
  padding: 10px; }

.link-red {
  color: #34495e;
  text-decoration: none;
  color: #ecf0f1;
  background: #e74c3c;
  border-radius: 15px;
  line-height: 2.5;
  padding: 10px; }

.link-green, .itemsListContainer .addNewItem .addNewItemForm .control a, .itemsListContainer .itemsList .item .itemInformation .itemDetails, .headerDetail .headerDetailReturn .returnBtn .control a, .itemDetailsContainer .itemDetailsHeader .itemInformation .itemReservationRequest {
  color: #34495e;
  text-decoration: none;
  color: #ecf0f1;
  background: #2ecc71;
  border-radius: 15px;
  line-height: 2.5;
  padding: 10px; }

.link-blue, .itemsListContainer .itemsList .item .itemInformation .itemUrl, .itemDetailsContainer .itemDetailsHeader .itemInformation .itemUrl {
  color: #34495e;
  text-decoration: none;
  color: #ecf0f1;
  background: #3498db;
  border-radius: 15px;
  line-height: 2.5;
  padding: 10px; }

.alert, .alert-success, .alert-info, .alert-warning, .alert-danger, .error-alert div {
  color: #ecf0f1;
  line-height: 4;
  font-weight: bolder;
  text-align: center;
  font-size: 120%;
  margin: 5px;
  border-radius: 5px; }

.alert-success {
  background: #2ecc71; }

.alert-info {
  background: #3498db; }

.alert-warning {
  background: #f1c40f; }

.alert-danger, .error-alert div {
  background: #e74c3c; }

.container, .addItemContainer {
  width: 100%; }

.row, .error-alert, .form-create-list, .form-create-list .form-content, .form-create-list .form-content .input, .backto-list-button, .form-add-list, .list-of-lists, .list-of-lists div, .global_message, .global_message div, .header, .header .headerNavigation ul, .itemsListContainer .addNewItem .addNewItemForm, .itemsListContainer .itemsList .item, .itemsListContainer .itemsList .item .itemInformation, .addItemContainer .addItemForm, .addItemContainer .addItemForm .addItemFormContent, .addItemContainer .addItemForm .addItemFormContent .addItemFormControl, .addItemContainer .addItemForm .addItemFormContent .addItemFormControl .uploadImageRealControl, .addItemContainer .addItemForm .addItemFormContent .addItemFormControl .uploadImageFakeControl, .addItemContainer .addItemForm .addItemFormContent .addItemFormControl .uploadImageFakeControl .uploadesFilenames, .headerDetail .headerDetailReturn .returnBtn, .itemDetailsContainer .itemDetailsHeader, .itemDetailsContainer .itemDetailsHeader .itemImages .itemSmallImages .smallImagesRow {
  display: flex;
  flex-wrap: wrap;
  width: 100%; }

.col-1 {
  flex-basis: 8.3333333333%;
  box-sizing: border-box; }

.offset-1, .form-create-list .form-content .input, .list-of-lists div, .list-of-lists div a, .addItemContainer .addItemForm .addItemFormContent .addItemFormControl, .itemDetailsContainer .itemDetailsHeader .itemInformation {
  margin-left: 8.3333333333%; }

.col-2, .backto-list-button input[type=submit], .itemDetailsContainer .itemDetailsHeader .itemInformation .itemPrice {
  flex-basis: 16.6666666667%;
  box-sizing: border-box; }

.offset-2, .error-alert div {
  margin-left: 16.6666666667%; }

.col-3, .itemsListContainer .itemsList .item .itemPrice, .itemDetailsContainer .itemDetailsHeader .itemImages, .itemDetailsContainer .itemDetailsHeader .itemImages .itemSmallImages {
  flex-basis: 25%;
  box-sizing: border-box; }

.offset-3, .form-create-list .form-content, .form-add-list input, .global_message {
  margin-left: 25%; }

.col-4, .header .headerLogo, .itemsListContainer .itemsList .item .itemImage, .addItemContainer .addItemForm .addItemFormContent .addItemFormControl .uploadImageFakeControl .uploadButton, .headerDetail .headerDetailReturn .returnBtn .control {
  flex-basis: 33.3333333333%;
  box-sizing: border-box; }

.offset-4 {
  margin-left: 33.3333333333%; }

.col-5, .itemsListContainer .itemsList .item .itemInformation {
  flex-basis: 41.6666666667%;
  box-sizing: border-box; }

.offset-5, .backto-list-button input[type=submit] {
  margin-left: 41.6666666667%; }

.col-6, .form-create-list .form-content, .form-add-list input, .global_message, .addItemContainer .addItemForm .addItemFormContent, .itemDetailsContainer .itemDetailsHeader .itemImages .itemSmallImages .smallImagesRow div {
  flex-basis: 50%;
  box-sizing: border-box; }

.offset-6 {
  margin-left: 50%; }

.col-7 {
  flex-basis: 58.3333333333%;
  box-sizing: border-box; }

.offset-7 {
  margin-left: 58.3333333333%; }

.col-8, .error-alert div, .header .headerNavigation, .addItemContainer .addItemForm .addItemFormContent .addItemFormControl .uploadImageFakeControl .uploadesFilenames, .itemDetailsContainer .itemDetailsHeader .itemInformation {
  flex-basis: 66.6666666667%;
  box-sizing: border-box; }

.offset-8 {
  margin-left: 66.6666666667%; }

.col-9 {
  flex-basis: 75%;
  box-sizing: border-box; }

.offset-9 {
  margin-left: 75%; }

.col-10, .form-create-list .form-content .input, .list-of-lists div, .list-of-lists div a, .addItemContainer .addItemForm .addItemFormContent .addItemFormControl {
  flex-basis: 83.3333333333%;
  box-sizing: border-box; }

.offset-10 {
  margin-left: 83.3333333333%; }

.col-11 {
  flex-basis: 91.6666666667%;
  box-sizing: border-box; }

.offset-11 {
  margin-left: 91.6666666667%; }

.col-12, .itemsListContainer .addNewItem .addNewItemForm .control, .addItemContainer .addItemForm .addItemFormContent .addItemFormControl .uploadImageFakeControl .uploadesFilenames .uploadesFilename, .itemDetailsContainer .itemDetailsHeader .itemImages .itemBigImage {
  flex-basis: 100%;
  box-sizing: border-box; }

.offset-12 {
  margin-left: 100%; }

.offset-0 {
  margin-left: 0; }

@media screen and (max-width: 1080px) {
  .col-md-1 {
    flex-basis: 8.3333333333%;
    box-sizing: border-box; }

  .offset-md-1, .error-alert div, .list-of-lists div a {
    margin-left: 8.3333333333%; }

  .col-md-2, .backto-list-button input[type=submit] {
    flex-basis: 16.6666666667%;
    box-sizing: border-box; }

  .offset-md-2, .form-create-list .form-content, .form-add-list input {
    margin-left: 16.6666666667%; }

  .col-md-3 {
    flex-basis: 25%;
    box-sizing: border-box; }

  .offset-md-3 {
    margin-left: 25%; }

  .col-md-4 {
    flex-basis: 33.3333333333%;
    box-sizing: border-box; }

  .offset-md-4 {
    margin-left: 33.3333333333%; }

  .col-md-5 {
    flex-basis: 41.6666666667%;
    box-sizing: border-box; }

  .offset-md-5, .backto-list-button input[type=submit] {
    margin-left: 41.6666666667%; }

  .col-md-6 {
    flex-basis: 50%;
    box-sizing: border-box; }

  .offset-md-6 {
    margin-left: 50%; }

  .col-md-7 {
    flex-basis: 58.3333333333%;
    box-sizing: border-box; }

  .offset-md-7 {
    margin-left: 58.3333333333%; }

  .col-md-8, .form-create-list .form-content, .form-add-list input {
    flex-basis: 66.6666666667%;
    box-sizing: border-box; }

  .offset-md-8 {
    margin-left: 66.6666666667%; }

  .col-md-9, .list-of-lists div a {
    flex-basis: 75%;
    box-sizing: border-box; }

  .offset-md-9 {
    margin-left: 75%; }

  .col-md-10, .error-alert div {
    flex-basis: 83.3333333333%;
    box-sizing: border-box; }

  .offset-md-10 {
    margin-left: 83.3333333333%; }

  .col-md-11 {
    flex-basis: 91.6666666667%;
    box-sizing: border-box; }

  .offset-md-11 {
    margin-left: 91.6666666667%; }

  .col-md-12, .header .headerNavigation, .list-of-lists div, .global_message {
    flex-basis: 100%;
    box-sizing: border-box; }

  .offset-md-12 {
    margin-left: 100%; }

  .offset-md-0, .list-of-lists div, .global_message {
    margin-left: 0; } }
@media screen and (max-width: 480px) {
  .col-sm-1 {
    flex-basis: 8.3333333333%;
    box-sizing: border-box; }

  .offset-sm-1, .list-of-lists div a, .form-add-list input {
    margin-left: 8.3333333333%; }

  .col-sm-2 {
    flex-basis: 16.6666666667%;
    box-sizing: border-box; }

  .offset-sm-2, .backto-list-button input[type=submit] {
    margin-left: 16.6666666667%; }

  .col-sm-3 {
    flex-basis: 25%;
    box-sizing: border-box; }

  .offset-sm-3 {
    margin-left: 25%; }

  .col-sm-4 {
    flex-basis: 33.3333333333%;
    box-sizing: border-box; }

  .offset-sm-4 {
    margin-left: 33.3333333333%; }

  .col-sm-5 {
    flex-basis: 41.6666666667%;
    box-sizing: border-box; }

  .offset-sm-5 {
    margin-left: 41.6666666667%; }

  .col-sm-6 {
    flex-basis: 50%;
    box-sizing: border-box; }

  .offset-sm-6 {
    margin-left: 50%; }

  .col-sm-7 {
    flex-basis: 58.3333333333%;
    box-sizing: border-box; }

  .offset-sm-7 {
    margin-left: 58.3333333333%; }

  .col-sm-8, .list-of-lists div a, .backto-list-button input[type=submit] {
    flex-basis: 66.6666666667%;
    box-sizing: border-box; }

  .offset-sm-8 {
    margin-left: 66.6666666667%; }

  .col-sm-9 {
    flex-basis: 75%;
    box-sizing: border-box; }

  .offset-sm-9 {
    margin-left: 75%; }

  .col-sm-10, .form-add-list input {
    flex-basis: 83.3333333333%;
    box-sizing: border-box; }

  .offset-sm-10 {
    margin-left: 83.3333333333%; }

  .col-sm-11 {
    flex-basis: 91.6666666667%;
    box-sizing: border-box; }

  .offset-sm-11 {
    margin-left: 91.6666666667%; }

  .col-sm-12, .error-alert div, .header .headerNavigation, .form-create-list .form-content, .list-of-lists div, .global_message {
    flex-basis: 100%;
    box-sizing: border-box; }

  .offset-sm-12 {
    margin-left: 100%; }

  .offset-sm-0, .error-alert div, .form-create-list .form-content, .list-of-lists div, .global_message {
    margin-left: 0; } }
.error-alert div {
  line-height: 1;
  text-align: left;
  font-size: 100%; }
  .error-alert div p {
    padding-left: 10px;
    padding-top: 10px; }

.form-create-list {
  color: #2c3e50;
  padding-top: 30px;
  padding-bottom: 10px; }
  .form-create-list .form-content {
    background: #ecf0f1;
    border-radius: 5px; }
    .form-create-list .form-content .input {
      padding: 10px 0px;
      font-weight: bolder;
      display: flex;
      flex-direction: column; }
    .form-create-list .form-content textarea {
      resize: none;
      height: 100px; }

.title {
  text-align: center;
  text-decoration: underline;
  font-weight: bolder;
  font-size: 200%;
  color: #2c3e50; }

.list-of-lists div {
  overflow: hidden;
  text-overflow: ellipsis; }
  .list-of-lists div a {
    background: #ecf0f1;
    padding: 5px;
    height: 70px;
    text-decoration: none;
    font-size: 140%;
    overflow: hidden;
    color: #2c3e50;
    border: 1px solid #587ca0;
    display: flex;
    flex-direction: column; }
    .list-of-lists div a span {
      text-align: right;
      font-size: 65%;
      color: #507192; }
    .list-of-lists div a:hover {
      background: #cfd9db; }
  .list-of-lists div form input[type="submit"] {
    font-weight: bolder;
    height: 70px; }

.global_message div p {
  width: 50%;
  word-wrap: break-word;
  color: #333333; }
  .global_message div p b {
    font-weight: bold;
    color: black; }
  .global_message div p u {
    border: none; }
  .global_message div p i {
    font-style: oblique;
    color: #a6a6a6; }

.btnChat {
  background-color: #e60000;
  font-weight: normal; }
  .btnChat:hover {
    background-color: #b30000; }

.header {
  color: #ecf0f1;
  background: #34495e;
  height: 60px;
  align-items: center;
  margin-bottom: 20px; }
  .header .headerLogo {
    font-size: 220%;
    font-weight: bolder;
    text-align: center; }
  .header .headerNavigation {
    height: 100%; }
    .header .headerNavigation ul {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      height: 100%;
      list-style: none; }
      .header .headerNavigation ul li {
        height: 100%;
        margin: 0; }
        .header .headerNavigation ul li a {
          display: flex;
          align-items: center;
          height: 100%;
          color: #ecf0f1;
          font-size: 140%;
          font-weight: bolder;
          text-decoration: none;
          padding: 0 20px; }
      .header .headerNavigation ul a:hover {
        background: #46637f; }

@media screen and (max-width: 1080px) {
  .header .headerLogo {
    display: none; }
  .header .headerNavigation ul {
    justify-content: space-around; }

  .list-of-lists div a {
    font-size: 100%; }
    .list-of-lists div a span {
      font-size: 80%; }

  .global_message div {
    padding-left: 2%; }
    .global_message div p {
      width: 95%;
      word-wrap: break-word;
      color: #333333; }
      .global_message div p b {
        font-weight: bold;
        color: black; }
      .global_message div p u {
        border: none; }
      .global_message div p i {
        font-style: oblique;
        color: #a6a6a6; } }
@media screen and (max-width: 480px) {
  .header {
    height: 100%; }
    .header .headerLogo {
      display: none; }
    .header .headerNavigation {
      width: 100%; }
      .header .headerNavigation ul {
        flex-direction: column;
        width: 100%; }
        .header .headerNavigation ul li {
          width: 100%;
          height: 60px; }

  .list-of-lists div a {
    font-size: 100%; }
    .list-of-lists div a span {
      font-size: 80%; }

  .global_message div {
    padding-left: 2%; }
    .global_message div p {
      width: 93%;
      word-wrap: break-word;
      color: #333333; }
      .global_message div p b {
        font-weight: bold;
        color: black; }
      .global_message div p u {
        border: none; }
      .global_message div p i {
        font-style: oblique;
        color: #a6a6a6; }

  .error-alert div {
    margin-left: 10px; } }
.itemsListContainer .addNewItem {
  width: 60%;
  margin: auto;
  padding: 20px 0; }
  @media screen and (max-width: 768px) {
    .itemsListContainer .addNewItem {
      width: 90%; } }
  .itemsListContainer .addNewItem .addNewItemForm .control a {
    border-radius: 0; }
.itemsListContainer .itemsList {
  width: 60%;
  margin: auto; }
  @media screen and (max-width: 768px) {
    .itemsListContainer .itemsList {
      width: 90%; } }
  .itemsListContainer .itemsList .item {
    margin-left: 0;
    margin-bottom: 15px;
    padding: 10px;
    box-sizing: border-box;
    background-color: #DBEDFF; }
    @media screen and (max-width: 601px) {
      .itemsListContainer .itemsList .item {
        flex-direction: column; } }
    .itemsListContainer .itemsList .item .itemImage img {
      width: 100%;
      height: auto; }
    .itemsListContainer .itemsList .item .itemInformation {
      padding-left: 10px; }
      @media screen and (max-width: 768px) {
        .itemsListContainer .itemsList .item .itemInformation {
          flex-direction: column;
          justify-content: flex-start; } }
      .itemsListContainer .itemsList .item .itemInformation .itemTitle {
        margin: 0;
        margin-bottom: 10px;
        font-size: 1.8em;
        width: 100%; }
      .itemsListContainer .itemsList .item .itemInformation .itemUrl {
        margin-left: 5px;
        margin-bottom: 5px;
        border-radius: 0; }
      .itemsListContainer .itemsList .item .itemInformation .itemDetails {
        margin-left: 5px;
        margin-bottom: 5px;
        border-radius: 0; }
      .itemsListContainer .itemsList .item .itemInformation .itemDelete {
        margin-left: 5px;
        margin-bottom: 5px;
        display: flex;
        flex-direction: column;
        justify-content: center; }
        .itemsListContainer .itemsList .item .itemInformation .itemDelete .itemDeleteButton {
          font-size: 1em;
          text-align: left;
          padding-left: 10px;
          padding-top: 5px;
          padding-bottom: 5px; }
    .itemsListContainer .itemsList .item .itemPrice {
      display: flex;
      flex-direction: column;
      justify-content: center; }
      .itemsListContainer .itemsList .item .itemPrice .itemPriceDegits {
        background-color: white;
        align-self: center;
        padding: 10px; }

.addItemContainer .addItemForm {
  color: #2c3e50;
  padding-top: 30px;
  padding-bottom: 30px; }
  .addItemContainer .addItemForm .addItemFormContent {
    margin: auto;
    background: #ecf0f1;
    border-radius: 5px; }
    @media screen and (max-width: 768px) {
      .addItemContainer .addItemForm .addItemFormContent {
        flex-basis: 100%; } }
    .addItemContainer .addItemForm .addItemFormContent .addToListTitle {
      margin-bottom: 20px;
      text-align: center; }
    .addItemContainer .addItemForm .addItemFormContent .addItemFormControl {
      padding: 10px 0px;
      font-weight: bolder;
      display: flex;
      flex-direction: column; }
      .addItemContainer .addItemForm .addItemFormContent .addItemFormControl textarea {
        height: 100px;
        resize: none; }
      .addItemContainer .addItemForm .addItemFormContent .addItemFormControl input[type=text] {
        height: 30px;
        font-size: 1.1em; }
      .addItemContainer .addItemForm .addItemFormContent .addItemFormControl .imageFile {
        width: 0.1px;
        height: 0.1px;
        opacity: 0;
        overflow: hidden;
        position: absolute;
        z-index: -1; }
      .addItemContainer .addItemForm .addItemFormContent .addItemFormControl .uploadImageRealControl {
        padding-top: 15px;
        padding-bottom: 15px; }
      .addItemContainer .addItemForm .addItemFormContent .addItemFormControl .uploadImageFakeControl .uploadButton label {
        padding-top: 10px;
        padding-bottom: 10px; }

.headerDetail .headerDetailReturn {
  width: 60%;
  margin: auto;
  padding: 20px 0; }
  .headerDetail .headerDetailReturn .returnBtn .control a {
    border-radius: 0; }

.itemDetailsContainer {
  width: 60%;
  margin: auto;
  padding: 10px;
  background-color: #DBEDFF;
  box-sizing: border-box; }
  @media screen and (max-width: 400px) {
    .itemDetailsContainer {
      width: 100%; } }
  @media screen and (max-width: 768px) {
    .itemDetailsContainer .itemDetailsHeader {
      flex-direction: column; } }
  .itemDetailsContainer .itemDetailsHeader .itemImages .itemBigImage div {
    margin-bottom: 10px; }
    .itemDetailsContainer .itemDetailsHeader .itemImages .itemBigImage div img {
      width: 100%;
      height: auto; }
  .itemDetailsContainer .itemDetailsHeader .itemImages .itemSmallImages .smallImagesRow div {
    padding-right: 5px;
    margin-bottom: 5px; }
    .itemDetailsContainer .itemDetailsHeader .itemImages .itemSmallImages .smallImagesRow div img {
      width: 100%;
      height: auto;
      cursor: pointer; }
  @media screen and (max-width: 768px) {
    .itemDetailsContainer .itemDetailsHeader .itemInformation {
      margin-left: 0; } }
  .itemDetailsContainer .itemDetailsHeader .itemInformation .itemTitle {
    margin: 0;
    font-size: 1.2em; }
  .itemDetailsContainer .itemDetailsHeader .itemInformation .itemDescription {
    margin-top: 20px; }
  .itemDetailsContainer .itemDetailsHeader .itemInformation .itemPrice {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 15px; }
    .itemDetailsContainer .itemDetailsHeader .itemInformation .itemPrice .itemPriceDegits {
      background-color: white;
      align-self: left;
      padding: 10px; }
  .itemDetailsContainer .itemDetailsHeader .itemInformation .itemUrl {
    border-radius: 0; }
  .itemDetailsContainer .itemDetailsHeader .itemInformation .itemReservationRequest {
    border-radius: 0; }

/*# sourceMappingURL=main.css.map */
