<!doctype html>
<html lang="fr">

	<head>

		<!--<link rel="stylesheet" type="text/css" href="/Assets/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="/Assets/css/styles.css">
		<script type="text/javascript" src="/Assets/js/jquery-3.2.1.min.js"></script>
		<script type="text/javascript" src="/Assets/js/bootstrap.min.js"></script>-->

		<link rel="stylesheet" type="text/css" href="{{ base_url() }}/web/assets/scss/main.css">

		<meta charset="UTF-8">
		<title>
			{% block title %}
				Mecado -
			{% endblock %}
		</title>

			{% block custom_assets %}
				<script type="text/javascript" src="/web/assets/js/jquery-2.2.4.min.js"></script>
			{% endblock %}
	</head>

	<body>
		<header>
		</header>

			{% block content %}

			{% endblock %}

		<footer>
		</footer>
	</body>
</html>


